body{
    font-family: 'Gloria Hallelujah';
	background-image: url("img/content-back.jpeg");
    background-size:     auto;                      
    background-repeat:   no-repeat;
    background-position: center center;

}

h2 {
    font-family: 'Indie Flower', cursive;
    margin:10px 8px;
}

p {
    margin-top: 5px;
}
header{
	background-image: url("img/head-leaves.jpeg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100px; 
}

footer{
	background-image: url("img/head-leaves.jpeg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100px; 
    color: #eee;
}

#my-contacts{
	margin-right:200px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav li a:hover {
    background-color: #999;
}

.info-panel{
	border-radius:10px;
	width: 70%;
	background-color:rgba(200, 200, 200, 0.5);
	border: solid 1px #999;
	margin: 30px 20px;
	padding: 5px;
}

.info-panel img {
	float: right;
	margin: 5px;
    width: 150px;
    height: auto;
    padding: auto;
    border-radius:10px;
}

.textual{
	width: 75%;
    height: auto;
	float: left;
	margin: 15px;
    padding: auto;
}


#hobby img{
    height: 90px;
    margin: 5px 10px;
}


#gallery{
    overflow: hidden;
    margin: auto;
    width: 40%;
}

#gallery img{
    float: none;
    margin: auto;
    display: block;
    height: 200px;
    border-radius:10px;
}

.leftside{
	float:left;
}

.rightside{
	float:right;
}

#userinfo{
	clear: both;
	width:35%;
	border-radius:10px;
	background-color:rgba(150, 200, 50, 0.5);
	border: solid 1px #999;
	margin: auto;
	padding: 20px;
}

input, textarea{
	width: 100%;
	padding: 5px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
}

textarea:focus, input:focus {
    background-color: lightblue;
    border: 3px solid #555;
}

.sbm-button{
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

hr{
	width:100%;
	border-top:3px solid;/* or bottom */
  	margin:1em auto;
}


